StudentWebServiceTopDown/WebContent/wsdl/student.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EmployeesDataService"
	targetNamespace="http://repository.student.reactiveworks.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://repository.student.reactiveworks.com/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import
				namespace="http://repository.student.reactiveworks.com/"
				schemaLocation="StudentXMLSchema.xsd" />
		</schema>
		<xsd:schema />
	</wsdl:types>
	<wsdl:message name="getStudent">
		<wsdl:part name="parameters" element="tns:getStudent">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteStudent">
		<wsdl:part name="parameters" element="tns:deleteStudent">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DataSourceAccessFailureDaoException">
		<wsdl:part name="parameters"
			element="tns:DataSourceAccessFailureDaoException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getStudentsResponse">
		<wsdl:part name="parameters"
			element="tns:getStudentsResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteStudentResponse">
		<wsdl:part name="parameters"
			element="tns:deleteStudentResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DaoOperationFailureException">
		<wsdl:part name="parameters"
			element="tns:DaoOperationFailureException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getStudentResponse">
		<wsdl:part name="parameters"
			element="tns:getStudentResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getStudents">
		<wsdl:part name="parameters" element="tns:getStudents">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="StudentsData">
		<wsdl:operation name="getStudents">
			<wsdl:input name="getStudents" message="tns:getStudents">
			</wsdl:input>
			<wsdl:output name="getStudentsResponse"
				message="tns:getStudentsResponse">
			</wsdl:output>
			<wsdl:fault name="DaoOperationFailureException"
				message="tns:DaoOperationFailureException">
			</wsdl:fault>
			<wsdl:fault name="DataSourceAccessFailureDaoException"
				message="tns:DataSourceAccessFailureDaoException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getStudent">
			<wsdl:input name="getStudent" message="tns:getStudent">
			</wsdl:input>
			<wsdl:output name="getStudentResponse"
				message="tns:getStudentResponse">
			</wsdl:output>
			<wsdl:fault name="DaoOperationFailureException"
				message="tns:DaoOperationFailureException">
			</wsdl:fault>
			<wsdl:fault name="DataSourceAccessFailureDaoException"
				message="tns:DataSourceAccessFailureDaoException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteStudent">
			<wsdl:input name="deleteStudent"
				message="tns:deleteStudent">
			</wsdl:input>
			<wsdl:output name="deleteStudentResponse"
				message="tns:deleteStudentResponse">
			</wsdl:output>
			<wsdl:fault name="DaoOperationFailureException"
				message="tns:DaoOperationFailureException">
			</wsdl:fault>
			<wsdl:fault name="DataSourceAccessFailureDaoException"
				message="tns:DataSourceAccessFailureDaoException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StudentsDataServiceSoapBinding"
		type="tns:StudentsData">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getStudents">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getStudents">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getStudentsResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DaoOperationFailureException">
				<soap:fault name="DaoOperationFailureException"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataSourceAccessFailureDaoException">
				<soap:fault name="DataSourceAccessFailureDaoException"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getStudent">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getStudent">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getStudentResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DaoOperationFailureException">
				<soap:fault name="DaoOperationFailureException"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataSourceAccessFailureDaoException">
				<soap:fault name="DataSourceAccessFailureDaoException"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteStudent">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="deleteStudent">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteStudentResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DaoOperationFailureException">
				<soap:fault name="DaoOperationFailureException"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataSourceAccessFailureDaoException">
				<soap:fault name="DataSourceAccessFailureDaoException"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StudentsDataService">
		<wsdl:port name="StudentsDataPort"
			binding="tns:StudentsDataServiceSoapBinding">
			<soap:address
				location="http://localhost:8080/StudentWebServiceTopDown/services/StudentsDataPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
