StudentTopDown/WebContent/wsdl/StudentXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://repository.student.reactiveworks.com/"
	xmlns:tns="http://www.example.org/StudentXMLSchema"
	elementFormDefault="qualified">
	
	<element name="getStudents">
	 <complexType>
	  <sequence/>
	 </complexType>
	</element>
	
	<element name="getStudentsResponse">
	 <complexType>
	  <sequence>
	    <element name="name" type="string"></element>
	    <element name="rollNo" type="int"></element>
	    <element name="percentage" type="double" />
	  </sequence>
	 </complexType>
	</element>
</schema>