EmployeeTopDownExmple/WebContent/wsdl/employee.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EmployeesDataService" targetNamespace="http://endpoint.employee.reactiveworks.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://endpoint.employee.reactiveworks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://endpoint.employee.reactiveworks.com/" schemaLocation="employeeSchema.xsd"/>
		</schema>
    <xsd:schema/>
  </wsdl:types>
  <wsdl:message name="getEmployees">
    <wsdl:part name="parameters" element="tns:getEmployees">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployeesResponse">
    <wsdl:part name="parameters" element="tns:getEmployeesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertEmployeeResponse">
    <wsdl:part name="parameters" element="tns:insertEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEmployee">
    <wsdl:part name="parameters" element="tns:deleteEmployee">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEmployeeResponse">
    <wsdl:part name="parameters" element="tns:deleteEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertEmployee">
    <wsdl:part name="parameters" element="tns:insertEmployee">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeesData">
    <wsdl:operation name="getEmployees">
      <wsdl:input name="getEmployees" message="tns:getEmployees">
    </wsdl:input>
      <wsdl:output name="getEmployeesResponse" message="tns:getEmployeesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEmployee">
      <wsdl:input name="insertEmployee" message="tns:insertEmployee">
    </wsdl:input>
      <wsdl:output name="insertEmployeeResponse" message="tns:insertEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmployee">
      <wsdl:input name="deleteEmployee" message="tns:deleteEmployee">
    </wsdl:input>
      <wsdl:output name="deleteEmployeeResponse" message="tns:deleteEmployee">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeesDataServiceSoapBinding" type="tns:EmployeesData">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEmployees">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEmployees">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmployeesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEmployee">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertEmployee">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmployee">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteEmployee">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesDataService">
    <wsdl:port name="EmployeesDataPort" binding="tns:EmployeesDataServiceSoapBinding">
      <soap:address location="http://localhost:8080/EmployeeTopDownExmple/services/EmployeesDataPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
