Mart/WebContent/wsdl/productservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ProductServiceService" targetNamespace="http://service.mart.reactiveworks.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.mart.reactiveworks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://service.mart.reactiveworks.com/" schemaLocation="productservice_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="addProduct">
    <wsdl:part name="parameters" element="tns:addProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductCategories">
    <wsdl:part name="parameters" element="tns:getProductCategories">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductCategoriesResponse">
    <wsdl:part name="parameters" element="tns:getProductCategoriesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addProductResponse">
    <wsdl:part name="parameters" element="tns:addProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsByCategory">
    <wsdl:part name="parameters" element="tns:getProductsByCategory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsByCategoryResponse">
    <wsdl:part name="parameters" element="tns:getProductsByCategoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductService">
    <wsdl:operation name="getProductCategories">
      <wsdl:input name="getProductCategories" message="tns:getProductCategories">
    </wsdl:input>
      <wsdl:output name="getProductCategoriesResponse" message="tns:getProductCategoriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <wsdl:input name="addProduct" message="tns:addProduct">
    </wsdl:input>
      <wsdl:output name="addProductResponse" message="tns:addProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductsByCategory">
      <wsdl:input name="getProductsByCategory" message="tns:getProductsByCategory">
    </wsdl:input>
      <wsdl:output name="getProductsByCategoryResponse" message="tns:getProductsByCategoryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductServiceServiceSoapBinding" type="tns:ProductService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProductCategories">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductCategories">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductCategoriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductsByCategory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProductsByCategory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductsByCategoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductServiceService">
    <wsdl:port name="ProductServicePort" binding="tns:ProductServiceServiceSoapBinding">
      <soap:address location="http://localhost:8080/Mart/services/ProductServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
