client/WebContent/wsdl/productwebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ProductWebServiceService" targetNamespace="http://service.productservice.reactiveworks.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.productservice.reactiveworks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://service.productservice.reactiveworks.com/" schemaLocation="productwebservice_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="getProducts">
    <wsdl:part name="parameters" element="tns:getProducts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProduct">
    <wsdl:part name="parameters" element="tns:deleteProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsResponse">
    <wsdl:part name="parameters" element="tns:getProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertProduct">
    <wsdl:part name="parameters" element="tns:insertProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnableToReadPropertyFileException">
    <wsdl:part name="UnableToReadPropertyFileException" element="tns:UnableToReadPropertyFileException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertProductResponse">
    <wsdl:part name="parameters" element="tns:insertProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductResponse">
    <wsdl:part name="parameters" element="tns:deleteProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProduct">
    <wsdl:part name="parameters" element="tns:getProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductResponse">
    <wsdl:part name="parameters" element="tns:getProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DataBaseAccessFailureException">
    <wsdl:part name="DataBaseAccessFailureException" element="tns:DataBaseAccessFailureException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductWebService">
    <wsdl:operation name="insertProduct">
      <wsdl:input name="insertProduct" message="tns:insertProduct">
    </wsdl:input>
      <wsdl:output name="insertProductResponse" message="tns:insertProductResponse">
    </wsdl:output>
      <wsdl:fault name="DataBaseAccessFailureException" message="tns:DataBaseAccessFailureException">
    </wsdl:fault>
      <wsdl:fault name="UnableToReadPropertyFileException" message="tns:UnableToReadPropertyFileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <wsdl:input name="getProducts" message="tns:getProducts">
    </wsdl:input>
      <wsdl:output name="getProductsResponse" message="tns:getProductsResponse">
    </wsdl:output>
      <wsdl:fault name="DataBaseAccessFailureException" message="tns:DataBaseAccessFailureException">
    </wsdl:fault>
      <wsdl:fault name="UnableToReadPropertyFileException" message="tns:UnableToReadPropertyFileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <wsdl:input name="deleteProduct" message="tns:deleteProduct">
    </wsdl:input>
      <wsdl:output name="deleteProductResponse" message="tns:deleteProductResponse">
    </wsdl:output>
      <wsdl:fault name="DataBaseAccessFailureException" message="tns:DataBaseAccessFailureException">
    </wsdl:fault>
      <wsdl:fault name="UnableToReadPropertyFileException" message="tns:UnableToReadPropertyFileException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input name="getProduct" message="tns:getProduct">
    </wsdl:input>
      <wsdl:output name="getProductResponse" message="tns:getProductResponse">
    </wsdl:output>
      <wsdl:fault name="DataBaseAccessFailureException" message="tns:DataBaseAccessFailureException">
    </wsdl:fault>
      <wsdl:fault name="UnableToReadPropertyFileException" message="tns:UnableToReadPropertyFileException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductWebServiceServiceSoapBinding" type="tns:ProductWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insertProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataBaseAccessFailureException">
        <soap:fault name="DataBaseAccessFailureException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnableToReadPropertyFileException">
        <soap:fault name="UnableToReadPropertyFileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProducts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataBaseAccessFailureException">
        <soap:fault name="DataBaseAccessFailureException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnableToReadPropertyFileException">
        <soap:fault name="UnableToReadPropertyFileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataBaseAccessFailureException">
        <soap:fault name="DataBaseAccessFailureException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnableToReadPropertyFileException">
        <soap:fault name="UnableToReadPropertyFileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataBaseAccessFailureException">
        <soap:fault name="DataBaseAccessFailureException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnableToReadPropertyFileException">
        <soap:fault name="UnableToReadPropertyFileException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductWebServiceService">
    <wsdl:port name="ProductWebServicePort" binding="tns:ProductWebServiceServiceSoapBinding">
      <soap:address location="http://localhost:8080/webService/services/ProductWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
